body{
    background-color: rgb(73, 73, 73);
}

#banner{
    background-color: rgb(46, 46, 46);
    color: white;
    
}

.title{
    font-weight: bolder;
}

.itemDescription{
    text-align: center;
}

.col{
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    margin: 4px;
}

#loanButton{
    border-radius: 7px;
    border: 1px solid lightgray;
    background-color: lime;
    padding-left: 40px;
    padding-right: 40px;
}

#bankMoneyButton{
    border-radius: 7px;
    border: 1px solid lightgray;
    background-color: yellow;
}

#workButton{
    border-radius: 7px;
    border: 1px solid lightgray;
    background-color: rgb(61, 61, 255);
    color: white;
}

#buyNowButton{
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid lightgray;
    background-color: rgb(124, 159, 225);
    padding-left: 40px;
    padding-right: 40px;
}



